clouds:
  mycloud:
    region_name: regionOne
    auth_type: password
    auth:
      username: {{ os_user }}
      password: {{ os_password }}
      project_name: demo-vms
      domain_name: hailstorm
      auth_url: http://{{ os_host }}:13000/v3
    validate_certs: no
